body {
  font-family: 'Rubik', sans-serif;
  background-color:rgba(0, 0, 255, 0.3);
  font-size: 16px;
}
/*---Header---*/
#header-nav {
  border:2px solid grey;
  border-radius: 0;
  background: #cccccc;
  
  
    
}
#collapsable-nav {
  width:100%;
  padding: 0;
  margin:0;
}
#nav-list {
  text-align: center;
  padding: 0;
  margin:0;
}
#nav-list li a {
  /*border-top: 2px solid grey;*/
  color:red;
  text-shadow: 1px 1px 1px #000;
  padding:2px 0;
}
.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.navbar-brand h1 {
  color: #fff;
  text-shadow:  1px 1px 3px #000;
  margin: 0;
  padding-left: 25px;
  position: relative;
  top: -5px;
  letter-spacing: -1px;
  

  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid grey;
  box-shadow: 1px 1px .5px #000;

}
span.icon-bar {
  background:white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin: 15px 30px 15px 0;
  background-color: #fff;
}
.container {
  margin:0;
  padding: 0;
}
/*-- end of header*/
/*--Home page--*/
#main_content {
  padding: 0;
  width:100%;
  margin: auto;
  padding:15px;
  
}
#p1, #p2, #p3 {
  margin-left: 0;
  margin-left: 0;
}
.row h2 {
  text-align: center;
  padding-bottom:20px;
  font-weight:bold;
}
#p1 div, #p2 div, #p3 div {
  background-color: #cccccc;
}
.row {
  margin:auto;
}
.row h3 {
  text-align:center;
  padding-top:15px;
  font-weight: bold;
}
.row .lorum {
  padding: 0 10px 10px;
}
/*--end of home page--*/
/*--Footer--*/
footer {
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;

}
fter a {
  color:#fff;
}
footer a:hover {
  text-decoration: none;
  color: #000;
}
/*--end of footer--*/
@media (min-width:992px) {
  footer a{
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-brand h1{
  position: relative;
  top: -3px;
}
  
}
@media (min-width: 768px) {
  #header-nav{
    height: 64px;
  }

}






